* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(112, 105, 106);
  --light-pink: rgb(247, 203, 220);
  --dark-grey: rgb(139, 138, 138);
  --light: rgb(202, 199, 199);
  --black: black;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light);
}

h1 {
  color: var(--light);
  margin: 30px 0;
  text-transform: uppercase;
  color: var(--black);
}

.todo {
  width: 700px;
  border-radius: 50px;
  background: rgb(214, 207, 207);
  box-shadow: 5px 5px 5px rgba(82, 82, 82, 0.4);
  text-align: center;
  margin: 50px;
}

.header {
  border-radius: 50px 50px 0px 0px;
  padding: 30px;
  background-image: linear-gradient(200deg, #e06e6e 0%, #fdc6c6 100%);
}

.todoInput {
  width: 50%;
  padding: 10px 20px;
  margin-right: 20px;
  border: dotted 2px rgb(114, 101, 104);
  border-radius: 50px;
  color: var(--light-dark);
  background-color: var(--light);
}

.addBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: var(--black);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
}

.addBtn:hover {
  color: white;
  background-color: var(--light-dark);
}

.alertInfo {
  margin-top: 10px;
  color: var(--dark-grey);
}

.todoList {
  padding: 20px 0;
}

.todoList h3 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  background-color: var(--light);
  word-break: break-all;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.tools button,
.deleteAllTasksBtn,
.deleteSelectedTasksBtn {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tools button:hover {
  background-color: #ddd;
}

.delete {
  color: tomato;
}

.deleteAllTasksBtn,
.deleteSelectedTasksBtn {
  display: none;
  color: rgb(172, 72, 72);
}

.showDelete {
  display: inline-block;
}
